# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Covers JetBrains IDEs: CLion
*.iml

## Directory-based project format:
.idea/

.DS_Store
# Project exclude paths
/cmake-build-debug/
.idea/