#on: [push, pull_request]
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:18.04
    strategy:
      matrix:
        configuration: [
          { "PACKAGE":"clang-3.9", "COMPILER":"clang", "COMPILER_VER":"3.9", "COMPILER_C": "clang-3.9","COMPILER_CXX": "clang++-3.9","BUILD_TYPE": "Release","CXX_STANDARD": 11 },
          { "PACKAGE":"clang-3.9", "COMPILER":"clang", "COMPILER_VER":"3.9", "COMPILER_C": "clang-3.9","COMPILER_CXX": "clang++-3.9","BUILD_TYPE": "Debug","CXX_STANDARD": 11 },
          { "PACKAGE":"clang-3.9", "COMPILER":"clang", "COMPILER_VER":"3.9", "COMPILER_C": "clang-3.9","COMPILER_CXX": "clang++-3.9","BUILD_TYPE": "Release","CXX_STANDARD": 14 },
          { "PACKAGE":"clang-3.9", "COMPILER":"clang", "COMPILER_VER":"3.9", "COMPILER_C": "clang-3.9","COMPILER_CXX": "clang++-3.9","BUILD_TYPE": "Debug","CXX_STANDARD": 14 },
          #{ "PACKAGE":"clang-3.9", "COMPILER":"clang", "COMPILER_VER":"3.9", "COMPILER_C": "clang-3.9","COMPILER_CXX": "clang++-3.9","BUILD_TYPE": "Release","CXX_STANDARD": 17 },
          #{ "PACKAGE":"clang-3.9", "COMPILER":"clang", "COMPILER_VER":"3.9", "COMPILER_C": "clang-3.9","COMPILER_CXX": "clang++-3.9","BUILD_TYPE": "Debug","CXX_STANDARD": 17 },
          { "PACKAGE":"clang-4.0", "COMPILER":"clang", "COMPILER_VER":"4.0", "COMPILER_C": "clang-4.0","COMPILER_CXX": "clang++-4.0","BUILD_TYPE": "Release","CXX_STANDARD": 11 },
          { "PACKAGE":"clang-4.0", "COMPILER":"clang", "COMPILER_VER":"4.0", "COMPILER_C": "clang-4.0","COMPILER_CXX": "clang++-4.0","BUILD_TYPE": "Debug","CXX_STANDARD": 11 },
          { "PACKAGE":"clang-4.0", "COMPILER":"clang", "COMPILER_VER":"4.0", "COMPILER_C": "clang-4.0","COMPILER_CXX": "clang++-4.0","BUILD_TYPE": "Release","CXX_STANDARD": 14 },
          { "PACKAGE":"clang-4.0", "COMPILER":"clang", "COMPILER_VER":"4.0", "COMPILER_C": "clang-4.0","COMPILER_CXX": "clang++-4.0","BUILD_TYPE": "Debug","CXX_STANDARD": 14 },
          #{ "PACKAGE":"clang-4.0", "COMPILER":"clang", "COMPILER_VER":"4.0", "COMPILER_C": "clang-4.0","COMPILER_CXX": "clang++-4.0","BUILD_TYPE": "Release","CXX_STANDARD": 17 },
          #{ "PACKAGE":"clang-4.0", "COMPILER":"clang", "COMPILER_VER":"4.0", "COMPILER_C": "clang-4.0","COMPILER_CXX": "clang++-4.0","BUILD_TYPE": "Debug","CXX_STANDARD": 17 },
          { "PACKAGE":"clang-5.0", "COMPILER":"clang", "COMPILER_VER":"5.0", "COMPILER_C": "clang-5.0","COMPILER_CXX": "clang++-5.0","BUILD_TYPE": "Release","CXX_STANDARD": 11 },
          { "PACKAGE":"clang-5.0", "COMPILER":"clang", "COMPILER_VER":"5.0", "COMPILER_C": "clang-5.0","COMPILER_CXX": "clang++-5.0","BUILD_TYPE": "Debug","CXX_STANDARD": 11 },
          { "PACKAGE":"clang-5.0", "COMPILER":"clang", "COMPILER_VER":"5.0", "COMPILER_C": "clang-5.0","COMPILER_CXX": "clang++-5.0","BUILD_TYPE": "Release","CXX_STANDARD": 14 },
          { "PACKAGE":"clang-5.0", "COMPILER":"clang", "COMPILER_VER":"5.0", "COMPILER_C": "clang-5.0","COMPILER_CXX": "clang++-5.0","BUILD_TYPE": "Debug","CXX_STANDARD": 14 },
          { "PACKAGE":"clang-5.0", "COMPILER":"clang", "COMPILER_VER":"5.0", "COMPILER_C": "clang-5.0","COMPILER_CXX": "clang++-5.0","BUILD_TYPE": "Release","CXX_STANDARD": 17 },
          { "PACKAGE":"clang-5.0", "COMPILER":"clang", "COMPILER_VER":"5.0", "COMPILER_C": "clang-5.0","COMPILER_CXX": "clang++-5.0","BUILD_TYPE": "Debug","CXX_STANDARD": 17 },
          { "PACKAGE":"clang-6.0", "COMPILER":"clang", "COMPILER_VER":"6.0", "COMPILER_C": "clang-6.0","COMPILER_CXX": "clang++-6.0","BUILD_TYPE": "Release","CXX_STANDARD": 11 },
          { "PACKAGE":"clang-6.0", "COMPILER":"clang", "COMPILER_VER":"6.0", "COMPILER_C": "clang-6.0","COMPILER_CXX": "clang++-6.0","BUILD_TYPE": "Debug","CXX_STANDARD": 11 },
          { "PACKAGE":"clang-6.0", "COMPILER":"clang", "COMPILER_VER":"6.0", "COMPILER_C": "clang-6.0","COMPILER_CXX": "clang++-6.0","BUILD_TYPE": "Release","CXX_STANDARD": 14 },
          { "PACKAGE":"clang-6.0", "COMPILER":"clang", "COMPILER_VER":"6.0", "COMPILER_C": "clang-6.0","COMPILER_CXX": "clang++-6.0","BUILD_TYPE": "Debug","CXX_STANDARD": 14 },
          { "PACKAGE":"clang-6.0", "COMPILER":"clang", "COMPILER_VER":"6.0", "COMPILER_C": "clang-6.0","COMPILER_CXX": "clang++-6.0","BUILD_TYPE": "Release","CXX_STANDARD": 17 },
          { "PACKAGE":"clang-6.0", "COMPILER":"clang", "COMPILER_VER":"6.0", "COMPILER_C": "clang-6.0","COMPILER_CXX": "clang++-6.0","BUILD_TYPE": "Debug","CXX_STANDARD": 17 },
          { "PACKAGE":"clang-7", "COMPILER":"clang", "COMPILER_VER":"7.0", "COMPILER_C": "clang-7","COMPILER_CXX": "clang++-7","BUILD_TYPE": "Release","CXX_STANDARD": 11 },
          { "PACKAGE":"clang-7", "COMPILER":"clang", "COMPILER_VER":"7.0", "COMPILER_C": "clang-7","COMPILER_CXX": "clang++-7","BUILD_TYPE": "Debug","CXX_STANDARD": 11 },
          { "PACKAGE":"clang-7", "COMPILER":"clang", "COMPILER_VER":"7.0", "COMPILER_C": "clang-7","COMPILER_CXX": "clang++-7","BUILD_TYPE": "Release","CXX_STANDARD": 14 },
          { "PACKAGE":"clang-7", "COMPILER":"clang", "COMPILER_VER":"7.0", "COMPILER_C": "clang-7","COMPILER_CXX": "clang++-7","BUILD_TYPE": "Debug","CXX_STANDARD": 14 },
          { "PACKAGE":"clang-7", "COMPILER":"clang", "COMPILER_VER":"7.0", "COMPILER_C": "clang-7","COMPILER_CXX": "clang++-7","BUILD_TYPE": "Release","CXX_STANDARD": 17 },
          { "PACKAGE":"clang-7", "COMPILER":"clang", "COMPILER_VER":"7.0", "COMPILER_C": "clang-7","COMPILER_CXX": "clang++-7","BUILD_TYPE": "Debug","CXX_STANDARD": 17 },
          { "PACKAGE":"clang-8", "COMPILER":"clang", "COMPILER_VER":"8", "COMPILER_C": "clang-8","COMPILER_CXX": "clang++-8","BUILD_TYPE": "Release","CXX_STANDARD": 11 },
          { "PACKAGE":"clang-8", "COMPILER":"clang", "COMPILER_VER":"8", "COMPILER_C": "clang-8","COMPILER_CXX": "clang++-8","BUILD_TYPE": "Debug","CXX_STANDARD": 11 },
          { "PACKAGE":"clang-8", "COMPILER":"clang", "COMPILER_VER":"8", "COMPILER_C": "clang-8","COMPILER_CXX": "clang++-8","BUILD_TYPE": "Release","CXX_STANDARD": 14 },
          { "PACKAGE":"clang-8", "COMPILER":"clang", "COMPILER_VER":"8", "COMPILER_C": "clang-8","COMPILER_CXX": "clang++-8","BUILD_TYPE": "Debug","CXX_STANDARD": 14 },
          { "PACKAGE":"clang-8", "COMPILER":"clang", "COMPILER_VER":"8", "COMPILER_C": "clang-8","COMPILER_CXX": "clang++-8","BUILD_TYPE": "Release","CXX_STANDARD": 17 },
          { "PACKAGE":"clang-8", "COMPILER":"clang", "COMPILER_VER":"8", "COMPILER_C": "clang-8","COMPILER_CXX": "clang++-8","BUILD_TYPE": "Debug","CXX_STANDARD": 17 },
          { "PACKAGE":"clang-9", "COMPILER":"clang", "COMPILER_VER":"9", "COMPILER_C": "clang-9","COMPILER_CXX": "clang++-9","BUILD_TYPE": "Release","CXX_STANDARD": 11 },
          { "PACKAGE":"clang-9", "COMPILER":"clang", "COMPILER_VER":"9", "COMPILER_C": "clang-9","COMPILER_CXX": "clang++-9","BUILD_TYPE": "Debug","CXX_STANDARD": 11 },
          { "PACKAGE":"clang-9", "COMPILER":"clang", "COMPILER_VER":"9", "COMPILER_C": "clang-9","COMPILER_CXX": "clang++-9","BUILD_TYPE": "Release","CXX_STANDARD": 14 },
          { "PACKAGE":"clang-9", "COMPILER":"clang", "COMPILER_VER":"9", "COMPILER_C": "clang-9","COMPILER_CXX": "clang++-9","BUILD_TYPE": "Debug","CXX_STANDARD": 14 },
          { "PACKAGE":"clang-9", "COMPILER":"clang", "COMPILER_VER":"9", "COMPILER_C": "clang-9","COMPILER_CXX": "clang++-9","BUILD_TYPE": "Release","CXX_STANDARD": 17 },
          { "PACKAGE":"clang-9", "COMPILER":"clang", "COMPILER_VER":"9", "COMPILER_C": "clang-9","COMPILER_CXX": "clang++-9","BUILD_TYPE": "Debug","CXX_STANDARD": 17 },
          { "PACKAGE":"clang-10", "COMPILER":"clang", "COMPILER_VER":"10", "COMPILER_C": "clang-10","COMPILER_CXX": "clang++-10","BUILD_TYPE": "Release","CXX_STANDARD": 11 },
          { "PACKAGE":"clang-10", "COMPILER":"clang", "COMPILER_VER":"10", "COMPILER_C": "clang-10","COMPILER_CXX": "clang++-10","BUILD_TYPE": "Debug","CXX_STANDARD": 11 },
          { "PACKAGE":"clang-10", "COMPILER":"clang", "COMPILER_VER":"10", "COMPILER_C": "clang-10","COMPILER_CXX": "clang++-10","BUILD_TYPE": "Release","CXX_STANDARD": 14 },
          { "PACKAGE":"clang-10", "COMPILER":"clang", "COMPILER_VER":"10", "COMPILER_C": "clang-10","COMPILER_CXX": "clang++-10","BUILD_TYPE": "Debug","CXX_STANDARD": 14 },
          { "PACKAGE":"clang-10", "COMPILER":"clang", "COMPILER_VER":"10", "COMPILER_C": "clang-10","COMPILER_CXX": "clang++-10","BUILD_TYPE": "Release","CXX_STANDARD": 17 },
          { "PACKAGE":"clang-10", "COMPILER":"clang", "COMPILER_VER":"10", "COMPILER_C": "clang-10","COMPILER_CXX": "clang++-10","BUILD_TYPE": "Debug","CXX_STANDARD": 17 },
          #{ "PACKAGE":"clang-11", "COMPILER":"clang", "COMPILER_VER":"11", "COMPILER_C": "clang-11","COMPILER_CXX": "clang++-11","BUILD_TYPE": "Release","CXX_STANDARD": 11 },
          #{ "PACKAGE":"clang-11", "COMPILER":"clang", "COMPILER_VER":"11", "COMPILER_C": "clang-11","COMPILER_CXX": "clang++-11","BUILD_TYPE": "Debug","CXX_STANDARD": 11 },
          #{ "PACKAGE":"clang-11", "COMPILER":"clang", "COMPILER_VER":"11", "COMPILER_C": "clang-11","COMPILER_CXX": "clang++-11","BUILD_TYPE": "Release","CXX_STANDARD": 14 },
          #{ "PACKAGE":"clang-11", "COMPILER":"clang", "COMPILER_VER":"11", "COMPILER_C": "clang-11","COMPILER_CXX": "clang++-11","BUILD_TYPE": "Debug","CXX_STANDARD": 14 },
          #{ "PACKAGE":"clang-11", "COMPILER":"clang", "COMPILER_VER":"11", "COMPILER_C": "clang-11","COMPILER_CXX": "clang++-11","BUILD_TYPE": "Release","CXX_STANDARD": 17 },
          #{ "PACKAGE":"clang-11", "COMPILER":"clang", "COMPILER_VER":"11", "COMPILER_C": "clang-11","COMPILER_CXX": "clang++-11","BUILD_TYPE": "Debug","CXX_STANDARD": 17 },
          #{ "PACKAGE":"clang-12", "COMPILER":"clang", "COMPILER_VER":"12", "COMPILER_C": "clang-12","COMPILER_CXX": "clang++-12","BUILD_TYPE": "Release","CXX_STANDARD": 11 },
          #{ "PACKAGE":"clang-12", "COMPILER":"clang", "COMPILER_VER":"12", "COMPILER_C": "clang-12","COMPILER_CXX": "clang++-12","BUILD_TYPE": "Debug","CXX_STANDARD": 11 },
          #{ "PACKAGE":"clang-12", "COMPILER":"clang", "COMPILER_VER":"12", "COMPILER_C": "clang-12","COMPILER_CXX": "clang++-12","BUILD_TYPE": "Release","CXX_STANDARD": 14 },
          #{ "PACKAGE":"clang-12", "COMPILER":"clang", "COMPILER_VER":"12", "COMPILER_C": "clang-12","COMPILER_CXX": "clang++-12","BUILD_TYPE": "Debug","CXX_STANDARD": 14 },
          #{ "PACKAGE":"clang-12", "COMPILER":"clang", "COMPILER_VER":"12", "COMPILER_C": "clang-12","COMPILER_CXX": "clang++-12","BUILD_TYPE": "Release","CXX_STANDARD": 17 },
          #{ "PACKAGE":"clang-12", "COMPILER":"clang", "COMPILER_VER":"12", "COMPILER_C": "clang-12","COMPILER_CXX": "clang++-12","BUILD_TYPE": "Debug","CXX_STANDARD": 17 },
         
        ]

    steps:
      - uses: actions/checkout@v2

      - name: Install system dependencies
        run: |
          apt-get update
          apt-get install -y software-properties-common ninja-build python3-pip python3 python3-dev python3-setuptools wget
          add-apt-repository ppa:ubuntu-toolchain-r/test
          pip3 install --upgrade pip
          pip3 install --no-cache-dir conan==1.59 cmake 

      - name: Install compiler
        run: |
          bash -c "$(wget -O - https://apt.llvm.org/llvm.sh)"
          apt-get install -y  ${{ matrix.configuration.PACKAGE}} 

      - name: Install conan dependencies
        run: |
          conan profile new default --detect
          conan profile update settings.compiler=${{ matrix.configuration.COMPILER}} default
          conan profile update settings.compiler.version=${{ matrix.configuration.COMPILER_VER}} default
          conan profile update env.CXX=${{ matrix.configuration.COMPILER_CXX}} default
          conan profile update env.CC=${{ matrix.configuration.COMPILER_C}} default
          #mkdir -p ${{github.workspace}}/build
          #conan install ${{github.workspace}}/build/.. -if ${{github.workspace}}/build --build=missing -s build_type=Release
          mkdir -p build
          conan install conanfile.txt -if build --build=missing -s build_type=Release

      - name: Configure CMake
        env:
          CC: ${{ matrix.configuration.COMPILER_C}}
          CXX: ${{ matrix.configuration.COMPILER_CXX}}
        run: cmake -B build -GNinja -DCMAKE_BUILD_TYPE=${{ matrix.configuration.BUILD_TYPE}} -DCMAKE_CXX_STANDARD=${{ matrix.configuration.CXX_STANDARD}} -DALLOW_EXAMPLES=ON -DALLOW_TESTS=ON -DENABLE_TESTS_MEASUREMENTS=OFF -DALLOW_BENCHMARK=ON

      - name: Build
        run: cmake --build build --config ${{ matrix.configuration.BUILD_TYPE}}

      - name: Test
        working-directory: ${{github.workspace}}/build
        run: ctest -C ${{env.BUILD_TYPE}} --rerun-failed --output-on-failure
      