on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        profiles: [Release, Debug]
        configuration: [
          { "COMPILER_C": "gcc-4.8", "COMPILER":"gcc", "COMPILER_VER":"4.8", "COMPILER_CXX": "g++-4.8", "CXX_STANDARD": 11 },
          { "COMPILER_C": "gcc-4.9", "COMPILER":"gcc", "COMPILER_VER":"4.9", "COMPILER_CXX": "g++-4.9", "CXX_STANDARD": 11 },
          #{ "COMPILER_C": "gcc-4.8", "COMPILER":"gcc", "COMPILER_VER":"4.8", "COMPILER_CXX": "gcc-4.8", "CXX_STANDARD": 11 },
          #{ "COMPILER_C": "gcc-4.9", "COMPILER":"gcc", "COMPILER_VER":"4.9", "COMPILER_CXX": "g++-4.9", "CXX_STANDARD": 11 },
          #{ "COMPILER_C": "gcc-4.9", "COMPILER":"gcc", "COMPILER_VER":"4.9", "COMPILER_CXX": "g++-4.9", "CXX_STANDARD": 11 },
          { "COMPILER_C": "gcc-5", "COMPILER":"gcc", "COMPILER_VER":"5", "COMPILER_CXX": "g++-5", "CXX_STANDARD": 11 },
          { "COMPILER_C": "gcc-5", "COMPILER":"gcc", "COMPILER_VER":"5", "COMPILER_CXX": "g++-5", "CXX_STANDARD": 11 },
          { "COMPILER_C": "gcc-5", "COMPILER":"gcc", "COMPILER_VER":"5", "COMPILER_CXX": "g++-5", "CXX_STANDARD": 14 },
          { "COMPILER_C": "gcc-5", "COMPILER":"gcc", "COMPILER_VER":"5", "COMPILER_CXX": "g++-5", "CXX_STANDARD": 14 },
          { "COMPILER_C": "gcc-6", "COMPILER":"gcc", "COMPILER_VER":"6", "COMPILER_CXX": "g++-6", "CXX_STANDARD": 11 },
          { "COMPILER_C": "gcc-6", "COMPILER":"gcc", "COMPILER_VER":"6", "COMPILER_CXX": "g++-6", "CXX_STANDARD": 11 },
          { "COMPILER_C": "gcc-6", "COMPILER":"gcc", "COMPILER_VER":"6", "COMPILER_CXX": "g++-6", "CXX_STANDARD": 14 },
          { "COMPILER_C": "gcc-6", "COMPILER":"gcc", "COMPILER_VER":"6", "COMPILER_CXX": "g++-6", "CXX_STANDARD": 14 },
          { "COMPILER_C": "gcc-7", "COMPILER":"gcc", "COMPILER_VER":"7", "COMPILER_CXX": "g++-7", "CXX_STANDARD": 11 },
          { "COMPILER_C": "gcc-7", "COMPILER":"gcc", "COMPILER_VER":"7", "COMPILER_CXX": "g++-7", "CXX_STANDARD": 11 },
          { "COMPILER_C": "gcc-7", "COMPILER":"gcc", "COMPILER_VER":"7", "COMPILER_CXX": "g++-7", "CXX_STANDARD": 14 },
          { "COMPILER_C": "gcc-7", "COMPILER":"gcc", "COMPILER_VER":"7", "COMPILER_CXX": "g++-7", "CXX_STANDARD": 14 },
          #{ "COMPILER_C": "gcc-7", "COMPILER":"gcc", "COMPILER_VER":"7", "COMPILER_CXX": "g++-7", "CXX_STANDARD": 17 },
          #{ "COMPILER_C": "gcc-7", "COMPILER":"gcc", "COMPILER_VER":"7", "COMPILER_CXX": "g++-7", "CXX_STANDARD": 17 },
          { "COMPILER_C": "gcc-8", "COMPILER":"gcc", "COMPILER_VER":"8", "COMPILER_CXX": "g++-8", "CXX_STANDARD": 11 },
          { "COMPILER_C": "gcc-8", "COMPILER":"gcc", "COMPILER_VER":"8", "COMPILER_CXX": "g++-8", "CXX_STANDARD": 11 },
          { "COMPILER_C": "gcc-8", "COMPILER":"gcc", "COMPILER_VER":"8", "COMPILER_CXX": "g++-8", "CXX_STANDARD": 14 },
          { "COMPILER_C": "gcc-8", "COMPILER":"gcc", "COMPILER_VER":"8", "COMPILER_CXX": "g++-8", "CXX_STANDARD": 14 },
          #{ "COMPILER_C": "gcc-8", "COMPILER":"gcc", "COMPILER_VER":"8", "COMPILER_CXX": "g++-8", "CXX_STANDARD": 17 },
          #{ "COMPILER_C": "gcc-8", "COMPILER":"gcc", "COMPILER_VER":"8", "COMPILER_CXX": "g++-8", "CXX_STANDARD": 17 },
          { "COMPILER_C": "gcc-9", "COMPILER":"gcc", "COMPILER_VER":"9", "COMPILER_CXX": "g++-9", "CXX_STANDARD": 11 },
          { "COMPILER_C": "gcc-9", "COMPILER":"gcc", "COMPILER_VER":"9", "COMPILER_CXX": "g++-9", "CXX_STANDARD": 11 },
          { "COMPILER_C": "gcc-9", "COMPILER":"gcc", "COMPILER_VER":"9", "COMPILER_CXX": "g++-9", "CXX_STANDARD": 14 },
          { "COMPILER_C": "gcc-9", "COMPILER":"gcc", "COMPILER_VER":"9", "COMPILER_CXX": "g++-9", "CXX_STANDARD": 14 },
          { "COMPILER_C": "gcc-9", "COMPILER":"gcc", "COMPILER_VER":"9", "COMPILER_CXX": "g++-9", "CXX_STANDARD": 17 },
          { "COMPILER_C": "gcc-9", "COMPILER":"gcc", "COMPILER_VER":"9", "COMPILER_CXX": "g++-9", "CXX_STANDARD": 17 },
          { "COMPILER_C": "gcc-10", "COMPILER":"gcc", "COMPILER_VER":"10", "COMPILER_CXX": "g++-10", "CXX_STANDARD": 11 },
          { "COMPILER_C": "gcc-10", "COMPILER":"gcc", "COMPILER_VER":"10", "COMPILER_CXX": "g++-10", "CXX_STANDARD": 11 },
          { "COMPILER_C": "gcc-10", "COMPILER":"gcc", "COMPILER_VER":"10", "COMPILER_CXX": "g++-10", "CXX_STANDARD": 14 },
          { "COMPILER_C": "gcc-10", "COMPILER":"gcc", "COMPILER_VER":"10", "COMPILER_CXX": "g++-10", "CXX_STANDARD": 14 },
          { "COMPILER_C": "gcc-10", "COMPILER":"gcc", "COMPILER_VER":"10", "COMPILER_CXX": "g++-10", "CXX_STANDARD": 17 },
          { "COMPILER_C": "gcc-10", "COMPILER":"gcc", "COMPILER_VER":"10", "COMPILER_CXX": "g++-10", "CXX_STANDARD": 17 },
          { "COMPILER_C": "gcc-11", "COMPILER":"gcc", "COMPILER_VER":"11", "COMPILER_CXX": "g++-11", "CXX_STANDARD": 11 },
          { "COMPILER_C": "gcc-11", "COMPILER":"gcc", "COMPILER_VER":"11", "COMPILER_CXX": "g++-11", "CXX_STANDARD": 11 },
          { "COMPILER_C": "gcc-11", "COMPILER":"gcc", "COMPILER_VER":"11", "COMPILER_CXX": "g++-11", "CXX_STANDARD": 14 },
          { "COMPILER_C": "gcc-11", "COMPILER":"gcc", "COMPILER_VER":"11", "COMPILER_CXX": "g++-11", "CXX_STANDARD": 14 },
          { "COMPILER_C": "gcc-11", "COMPILER":"gcc", "COMPILER_VER":"11", "COMPILER_CXX": "g++-11", "CXX_STANDARD": 17 },
          { "COMPILER_C": "gcc-11", "COMPILER":"gcc", "COMPILER_VER":"11", "COMPILER_CXX": "g++-11", "CXX_STANDARD": 17 }
        ]

    steps:
      - uses: actions/checkout@v2

      - name: Install compiler
        run: |
          sudo add-apt-repository ppa:ubuntu-toolchain-r/test
          sudo apt-get update
          sudo apt-get install ninja-build ${{ matrix.configuration.COMPILER_C}} ${{ matrix.configuration.COMPILER_CXX}} python3-pip python3 python3-dev python3-setuptools
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/${{ matrix.configuration.COMPILER_C}} 60 --slave /usr/bin/g++ g++ /usr/bin/${{ matrix.configuration.COMPILER_CXX}}
          pip3 install --no-cache-dir conan==1.38.0

      - name: Install conan dependencies
        run: |
          conan profile new default --detect
          conan profile update settings.compiler=${{ matrix.configuration.COMPILER}} default
          conan profile update settings.compiler.version=${{ matrix.configuration.COMPILER_VER}} default
          conan profile update env.CXX=${{ matrix.configuration.COMPILER_CXX}} default
          conan profile update env.CC=${{ matrix.configuration.COMPILER_C}} default
          mkdir -p ${{github.workspace}}/build
          conan install ${{github.workspace}}/build/.. -if ${{github.workspace}}/build --build=missing -s build_type=Release

      - name: Configure CMake
        env:
          CC: ${{ matrix.configuration.COMPILER_C}}
          CXX: ${{ matrix.configuration.COMPILER_CXX}}
          BUILD_TYPE: ${{ matrix.profiles }}
        run: cmake -B ${{github.workspace}}/build -GNinja -DCMAKE_BUILD_TYPE=${{ matrix.profiles }} -DCMAKE_CXX_STANDARD=${{ matrix.configuration.CXX_STANDARD}} -DALLOW_EXAMPLES=ON -DALLOW_TESTS=ON

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{ matrix.profiles }}

      - name: Test
        working-directory: ${{github.workspace}}/build
        run: ctest -C ${{env.BUILD_TYPE}}
      